<h1>Tweet results for <%= search %></h1>
<% if(results.length) { %>
  <ul>
    <% for(var i = 0; i < results.length; i++) { %>
    <li><%= results[i].title %> - <em><%= results[i].link %></em></li>
    <% } %>
  </ul>
<% } else { %>
  <p>No results</p>
<% } %>